.NavbarAdmin {
  width: 100%;
  background-color: #249c9d;
  box-shadow: 2px 2px gray;
  padding: 5px 0;
}
.NavbarAdmin img:last-child {
  width: 40px;
}

.NavbarAdmin ul {
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: space-between;
}
ul li:last-child {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content:flex-end;
  width: 30%;
}



